body {
    margin: 0;  
    background-color: lightgreen; 
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 0;
    padding: 3px;
    position: sticky;
    top: 0px;
    background-color: lawngreen;
    border-bottom: solid black 3px;
}
.pfooter {
    font-size: 30px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vx;
    margin: 0;
    padding: 3px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: lawngreen;
    border-top: solid black 3px;
}

.notesbox {
	display: flex;
	flex-direction:row;
    justify-content: center;
}

.dropzone {
	width: 300px;
	height: 350px;
	margin: 20px;
	background-color: lightgoldenrodyellow;
    border: solid black 3px;    
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;    
    text-align: center;
}
.note {
	width: 180px;
	height: 80px;
	background-color:rgb(107, 205, 50);
	border: 3px solid black;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
    margin:3px;
}
#note input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 7px;
    font-size: 20px;
    border: solid black 2px;
}