body {
    margin: 0;   
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    margin: 0;
    padding: 3px;
    position: sticky;
    top: 0px;
    background-color: lawngreen;
}
.pfooter {
    font-size: 30px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vx;
    margin: 0;
    padding: 3px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: lawngreen;
}

.notesbox {
	display: flex;
	flex-direction: row;
}

#drop-zone {
	width: 500px;
	height: 400px;
	margin-left: 200px;
	background-color: #cccccc88;
}

#note {
	width: 180px;
	height: 80px;
	background-color:rgb(107, 205, 50);
	border: 1px solid #ccc;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left:3px;
}
#note input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin: 7px;
    font-size: 20px;
}