<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Homepage</title>
    <link rel="stylesheet" href="../styles/homepage.css">
</head>
<body>
    <header><h1>Your Notes</h1></header>
    <button id="create-note">Create Note</button>
    <div id="note" class="note" draggable="true">
        <input type="text" class="label" id="note-input" name="note" placeholder="New note" onfocus="clearPlaceholder(this)">
    </div>
    <div class="notesbox">
		
       
		<div id="drop-zone" class="dropzone"><label>General:</label>
        </div>
        <div id="drop-zone" class="dropzone"><h2>Pending:</h3>
        </div>
        <div id="drop-zone" class="dropzone"><h2>Done:</h2>
        </div>
	</div>
    <footer><p class="pfooter">Have a successful day!</p></footer>
    <script src="../scripts/homepage.js" defer></script>
</body>    
</html>