<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Notes</title>
    <link rel="stylesheet" href="../styles/homepage.css">
</head>
<body>
    <header><h1 >Your Notes</h1></header>
    <div id="newNotes-container">
        <div id="note0" class="note" draggable="true">
            <label class="noteID">New note</label>
            <textarea class="note-textarea" placeholder="New note"></textarea>
        </div>
    </div>
    <div class="notesbox">
		<div class="dropbox"><label class="type">General</label><div id="drop-zone1" class="dropzone">
        </div></div>
        <div class="dropbox"><label class="type">Pending</label><div id="drop-zone2" class="dropzone">
        </div></div>
        <div class="dropbox"><label class="type">Done</label><div id="drop-zone3" class="dropzone"></div>
        </div>
       
	</div>
    <div id="drop-zone4" class="del_note"></div>
   
    <script src="../scripts/homepage.js" defer></script>
</body>    
</html>