<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Homepage</title>
    <link rel="stylesheet" href="../styles/homepage.css">
</head>
<body>
    <header><h1>Your Notes</h1></header>
    <div class="container">
		<div id="note" draggable="true">
			<input type="text" class="label" id="note-input" name="note" placeholder="New note" onfocus="clearPlaceholder(this)">
		</div>
		<div id="drop-zone">
        </div>
	</div>
    <footer><p class="pfooter">Have a successful day!</p></footer>
    <script src="../scripts/homepage.js"></script>
</body>    
</html>