<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_or_Signup</title>
    <link rel="stylesheet"  href="../styles/login_or_signuppage.css">
</head>
<body>
    <div class="button_holder">
    <button type="submit" class="button" id="login-button">Log in</button>
    <p class="or"><u>or</u></p>
    <button type="submit" class="button" id="signup-button">Sign up</button>
    </div>
</body>
</html>    