<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet"  href="../styles/login.css">
</head>
<body>
<h1>Login</h1>
<label for="username-input">Username:</label><br>
<input type="text" id="username-input" name="username" required><br><br>

<label for="password-input">Password:</label><br>
<input type="password" id="password-input" name="password" required><br><br>

<button class="button" id="login-button">Sign up</button>
<script src="../scripts/login.js"></script>
</body>
</html>